
/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%
}



.wrapper{

  display: grid;

}

/* ------------------------- */

section {
    padding: 2em 1em;
}


#header {
    background-color: #F2DFCe;
}
.logo{
    width: 15%;
}
#menu{
    list-style: none;
    display: flex;
    padding-right: 30%;
    font-family: cursive;
    color:#58160b ;
    font-size: 100%;
}
#intro{
    background-color: #ffffff;
}
.image{
   
    width: 100%;
}
.jepeux{
    text-align: center;
    font-family: cursive; 
    color: #58160b; 
}
.section_unpeudemoi{
    background-color: #f2dfce;
}
#unpeudemoi {
    background-color: #f2dfce;
    
}
.titre1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #58160b;
}
.texte {
    text-align: justify;
    color: #a64320;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.un-peu-de-moi{
    width: 100%;
}
#competences{
    background-color: #ffffff;
}
.skills{
    width: 100%;
}


h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #58160b; 
}
h4{
    font-family: cursive;
    text-align: center;
    color: #58160b;  
}
h3,
h5{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #a64320;
}
#loisirs{
     background-color: #f2dfce;
}
.chausson{

    width: 20%;
    padding-left: 40%;
}
.crayon{
 
    width: 20%;
    padding-left: 40%;
}
.communication{
    width: 20%;
    padding-left: 40%; 
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a64320;
    text-align: justify; 
}
#mapageinfo{
    background-color: #ffffff;
    padding-bottom: 1%;
}
.carte{
    width: 100%;
}
.information{
    background-color: #58160b;
    width: 100%;
    height: 460pt;
    border-radius: 5px;
    
}
.information img{
    width: 100%;
    margin-left: -20%;
}
h6{
    color: white;
    font-size: 1em;
    font-family: 'Pacifico' serif;
    margin-left: 24%;
}

.ecole{
    width: 100%;
}
#mecontacter{
    background-color: #f2dfce;
}
#footer{
    background-color: #F2DFCe;
}
.crédits{
    padding-right: 30%;
}

a{
    padding-left: 20%;
    text-decoration: none;
    color:#58160b;
}

a:hover{
    color:#a64320;
}
#footer{
    list-style: none;
    display: flex;  
    font-family: cursive;
    color:#a64320 ;
    background-color: #ffffff;

    }

 @media screen and (min-width: 940px) {
   
    .logo{
        width: 6%;
        margin-left: 48%;
    }
    #menu{
        list-style: none;
        margin-left: 33%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #58160b;
        font-size: 100%;
    }
    .introduction{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .introduction h3{
        margin-top: 30%;
        font-family: 'Pacifico', cursive;
    }
    .section_unpeudemoi{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section_unpeudemoi h1{
        font-size: 3em;
    }
    .un-peu-de-moi{
        width: 100%;
        margin-top: -40%;
    }
    #competences{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #mesloisirs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    
    }
    #mesloisirs p{
        width: 80%;
    }
    #mapageinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .information{
        margin-top: 10%;
        height: 110pt;
        width: 90%;
        margin-left: 6%;
    }
    #imginformation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        filter: grayscale(0%);
    }
    #imginformation :hover{
        filter: grayscale(20%); 
    }
    #imginformation{
        height: 100%;
    }
    h6{
        color: white;
        font-size: 1.3em;
        font-family: 'Pacifico' serif;
        margin-left: 35%;

    }
    #mecontacter{
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
    
 }


       
