
/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%
}
.wrapper{
    display: grid;
}
.box1{
    background-color: #f2dfce;
    height: 250px;
    width: 250%;
}
.logo{
    height: none;
    width: auto;
    padding-left: 17%;

}