
/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%
}

}

.wrapper{

  display: grid;

}

/* ------------------------- */

section {
    padding: 2em 1em;
}


#header {
    background-color: #F2DFCe;
}
.logo{
    width: 15%;
}
#menu{
    list-style: none;
    display: flex;
    padding-right: 30%;
    font-family: cursive;
    color:#58160b ;
    font-size: 100%;
}
#intro{
    background-color: #ffffff;
}
.image{
   
    width: 100%;
}
.jepeux{
    text-align: center;
    font-family: cursive; 
    color: #58160b; 
}

#unpeudemoi {
    background-color: #f2dfce;
    
}
.titre{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #58160b;
}
.présentation {
    text-align: justify;
    color: #58160b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.un-peu-de-moi{
    width: 100%;
}
#competences{
    background-color: #ffffff;
}
.skills{
    width: 100%;
}
h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #58160b; 
}
h3{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #a64320;     
}
h4{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #58160b;   
}
h5{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #a64320;     
}
#loisirs{
     background-color: #f2dfce;
}
.chausson{

    width: 20%;
    padding-left: 40%;
}
.crayon{
 
    width: 20%;
    padding-left: 40%;
}
.communication{
    width: 20%;
    padding-left: 40%; 
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a64320;
    text-align: justify; 
}
#mapageinfo{
    background-color: #ffffff;
}
.carte{
    width: 100%;
}
.ecole{
    width: 100%;
}
#mecontacter{
    background-color: #f2dfce;
}
#footer{
    background-color: #F2DFCe;
}
.crédits{
    padding-right: 30%;
}

a{
    padding-left: 20%;
    text-decoration: none;
    color:#58160b;
}

a:hover{
    color:#a64320;
}
#footer{
    list-style: none;
    display: flex;  
    font-family: cursive;
    color:#a64320 ;
    background-color: #ffffff;

    }

 @media screen and (min-width: 940px) {
   
    #header{
       padding-left: 30%;
    }
    .logo{
        width: 8%;
        padding-left: 27%;
    }
    .image{
        width: 40%;
        margin-left: 0%;
    }
    .jepeux{
        margin-top: -10%;
        margin-left: 50%;
        font-size: 230%;
       
    }
    section > #unpeudemoi{
        background-size: large;
    }
    .un-peu-de-moi{
        width: 20%;
        margin-top: -10%;
        margin-left: 60%;
    }
    .titre1{
        margin-top: -20%;
        margin-right: 45%;
        font-size: 50%;
        width: 50%;
    }

    .titre{
        margin-top: -10%;
        margin-right: 45%;
        font-size: 50%;
        width: 50%;
       
    }
    
    
   
    
      
    .skills{
        width: 40%;
        margin-left: 0%;
    }
    .competences{
        margin-top: -20%;
        
        margin-left: 45%;
        font-size: 50%;
        width: 50%;
    }
    .maitrise{
        list-style: none;
        display: flex;
        padding-right: 30%;
    }
    
    
 }


       
